<footer class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Cookie Policy</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h5>Connect with us</h5>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center">© 2023 My Website. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>