{% extends 'base.html' %}
{% block title %}Trip Update{% endblock %}
{% block content %}
<div class="card col-md-5 mx-auto shadow-lg">
	<div class="card-body">
		<h4>Trip Update</h4>
		<form method="post">
			{% csrf_token %}
			{% for i in nk %}
				{{i}}
			{% endfor %}
			<div class="row">
				<div class="col">
					<a href="{% url 'view_trips' %}" class="btn btn-secondary form-control">Back</a>
				</div>
				<div class="col">
					<input type="submit" value="Update" class="btn btn-success form-control">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}